[user]
	email = anukulsangwan@icloud.com
	name = Anukul Sangwan
[core]
	editor = micro
	excludesfile = ~/.gitignore_global
[alias]
	pushf = push --force-with-lease
    ignored = !git ls-files -v | grep "^[[:lower:]]"
